/*              MAIN PAGE STYLE                */

.main_div
{
    top: 0;
    width: 85%;
    /*height: 48,5;*/
    height:auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-top: 175px;
    margin-right: auto;
    position: absolute;
    padding: 5px;
    transition: 3.25s;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.3);*/
    line-height: 20px;
    /*border: 1px solid black;*/
    display: inline-block;

    justify-content: space-between;*/
}

#cover
{
    position: fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
    transition: .45s;
    z-index: 1;
    width:100%;
    height:100%;
}

.profiles_div
{
    display: flex;
    justify-content: space-between;

    width: 160px;
    max-width: 80%;
    height: 160px;
    max-height: 80%;
    border-radius: 120px;
    float: left;
    cursor: pointer;
    transition: .45s;
    /*transition: .25s transform;*/
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.7);

    background: url(../../resources/empty_profile.png);
    background-size: cover;

    /*position: relative;*/

}

.profiles_div:hover
{
    z-index: 1;
    transform: scale(1.3,1.3);
    transition: .35s transform;
}

.profiles_div_big
{
    top: -90px;
    border-radius: 60px 60px 30px 30px;
    background-size: 500px;
    background-size: cover;
    width: 500px;
    height: 500px;
    z-index: 9999999;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
    bottom: 0;
    margin-bottom: 25px;

    background: url(../../resources/empty_profile.png);
    background-size: cover;
}

.public_profile_big
{
    top: 50px;
    border-radius: 60px 60px 30px 30px;
    background-size: 500px;
    width: 500px;
    height: 500px;
    z-index: 9999999;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
    bottom: 0;
    margin-bottom: 25px;
}

.menu
{
    bottom: 0;
    background: white;
    /*width: 60%;*/
    /*max-width: 500px;*/
    height: auto;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: 3.45s;
    border-radius: 0px 0px 30px 30px;
}

.info
{
    /*top: 200px;*/
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    display: inline-block;
}

.info:hover
{
    color: rgba(255, 255, 255, 0.5);
}


.match_system
{

}


.nope
{
    margin-top: 4%;
    margin-left: 3%;
    height: 50px;
    width: 50px;
    float: left;
    cursor: pointer;

}

.yope
{
    margin-top: 4%;
    margin-right: 3%;
    height: 50px;
    width: 50px;
    float: right;
    cursor: pointer;
}

.nope_public
{
    margin-left: 3%;
    height: 50px;
    width: 50px;
    float: left;
    cursor: pointer;
    /*opacity: inherit;*/

}

.yope_public
{
    margin-right: 3%;
    height: 50px;
    width: 50px;
    float: right;
    cursor: pointer;
    opacity: 3;
}

.bio_des
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
    max-width: 200px;
    word-break: break-all;
    font-size: 1vh;
}

.report
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 4%;
    font-size: 10px;
    color: grey;
    cursor: pointer;
    width: 20%;
}

.report:hover
{
    font-size: 10px;
    text-decoration: underline;
}

#tempMessage
{
    border: 12px solid white;
    display:table;
    vertical-align:middle;
    text-align:center;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 5;
    width: 50%;
    height: 100%;
    top: 120px;
    background: white;
    border-radius: 60px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.search_box
{   top: 0px;
    display: inline-block;
    background: white;
    border: 20px solid white;
    white-space: pre-line;
    word-wrap: break-word;
    /*overflow: hidden;*/
}

.filter_box
{
    top: 0px;
    display: inline-block;
    background: white;
    border: 20px solid white;
    white-space: pre-line;
    word-wrap: break-word;
    /*overflow: hidden;*/

}

.rendered_list
{
    display: inline-block;
    /*border: 1px solid black;*/
    height: auto;
    width: 100%;
}
