.bar
{
    background: linear-gradient(to bottom right, grey, white);
    width: 100%;
    height: 160px;
}

.username
{
    padding-top:50px;
    margin-left: 11%;
    color: #fff;
    font-size: 25px;
    text-align: center;

}

.pp
{
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 30px;
    margin-left: 9%;
    position:absolute;
    clear: both;

}

/*Experience requirements*/
.pex
{
    top: 8px;
    left: 43%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    position: absolute;
    left:         0;
    right:        0;
    margin-left:  auto;
    margin-right: auto;
}

.container
{
    height: 30px;
    width: 50%;
    min-width: 200px;
	background: #555;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-left: 25%;
    position: relative;
    margin-top: 24px;
    text-align: center;
    overflow: hidden;
}

.filled
{
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: linear-gradient(to bottom, #d1caa5, #b75858);
  overflow: hidden;
  left: 0;
  position: absolute;
}
/*end*/

.right_panel
{
    margin-top: 32px;
    margin-right: 40px;
    float: right;
    text-align: center;
}

/*Messages feature*/

.home
{
    position: absolute;
    margin-top: 30px;
    margin-left: 3%;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.home:hover
{
    position: absolute;
    margin-top: 30px;
    margin-left: 3%;
    width: 40px;
    height: 40px;
    opacity: 0.44;
}

.notif
{
    position: absolute;
    margin-top: 100px;
    margin-left: 3%;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.notif:hover
{
    margin-top: 100px;
    position: absolute;
    margin-left: 3%;
    width: 40px;
    height: 40px;
    opacity: 0.44;
}

.rounded
{
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #f4425c;
    border: 2px solid #f4425c;
    border-radius: 60px;
}

/*end*/
