/*                                           */
/*                                           */
/*CSS rules for the whole user settings page */
/*                                           */
/*                                           */


.center
{
    text-align: center;
}


/*                                                   */
/*Settings for a special omnibar in the settings page*/
/*                                                   */

.home_s
{
    width:      40px;
    height:     40px;
    transition: 0.5s;
}

.home_s:hover
{
    width:     40px;
    height:    40px;
    opacity:   0.44;
}

.notif_s
{
    width:      40px;
    height:     40px;
    transition: 0.5s;
}

.notif_s:hover
{
    width:   40px;
    height:  40px;
    opacity: 0.44;
}

.left_panel
{
    margin-top:  3%;
    margin-left: 40px;
    text-align:  center;
    float:       left;
}

.right_panel2
{
    margin-top:   3%;
    margin-right: 40px;
    text-align:   center;
    float:        right;
}

.panel
{
    width: 100px;
    text-align: center;
}

.upload_form
{
    position:     absolute;
    left:         0;
    right:        0;
    margin-left:  auto;
    margin-right: auto;
}

.upload_form_l
{
    position:     absolute;

    float: left;
    left: 10%;
}

.upload_form_r
{
    position:     absolute;
    float: right;
    right: 10%;
}

.file-upload
{
  color: #fff;
  background: #c62f46;
  border-radius: 25px;
  border: none;
  transition: background .3s;
  top: 2px;
  bottom: 2px;

}

.file-upload:hover
{
     cursor: pointer;
     background: #ccb5b8;

}

/*end*/

.public_top_div
{
    background: linear-gradient(to bottom left, white, grey);
    width:  100%;
    height: 10%;
}

.setting_top_div
{
    background: linear-gradient(to bottom right, grey, white);
    width:  100%;
    height: 10%;
}



/*Alternate pictures.*/

@media screen and (min-width: 640px)
{
    .alt_picture_l
    {
        border: 1px solid black;
        display: inline-block;
        opacity: 1;
        width: 10%;
        height: 10%;
        max-width: 155px;
        max-height: 155px;
        cursor: pointer;
        margin-top: 4%;
        object-fit: cover;
        overflow: hidden;
        float: left;
        margin-left: 10%;
        z-index: 9999999;

    }
}
@media screen and (max-width: 640px)
{
    .alt_picture_l
    {
        display: none;
    }
}
@media screen and (min-width: 640px)
{
    .alt_picture_r
    {
        border: 1px solid black;
        display: inline-block;
        opacity: 1;
        width: 10%;
        height: 10%;
        max-width: 155px;
        max-height: 155px;
        cursor: pointer;
        margin-top: 4%;
        object-fit: cover;
        overflow: hidden;
        float: right;
        margin-right: 10%;
        z-index: 9999999;
    }
}
@media screen and (max-width: 640px)
{
    .alt_picture_r
    {
        display: none;
    }
}



.user_picture
{
    border: 1px solid black;
    position: relative;
    display: inline-block;
    opacity: 1;
    width: 15%;
    height: 15%;
    max-width:  235px;
    max-height: 235px;
    align-items: center;
    cursor: pointer;
    margin-top: 3%;
    object-fit: cover;
    overflow: hidden;
    z-index: 5;

}

.public_top_match
{
    text-align: center;
    margin-top: 1%;
    border: 10px solid rgba(255, 255, 255, .1);
    border-radius: 60px;
    left: 0;
    right:0;
    height: 55%;
    width: 65%;
    overflow: auto;
}

.public_middle
{
    position: absolute;
    margin: 0 auto;
    margin-top: 1%;
    left: 0;
    right:0;
    height: 55%;
    width: 65%;
    float: left;
    overflow: auto;
}

.setting_left_div
{
    display: inline-block;
    margin-left: 4%;
    margin-top: 20px;
    float: left;
    height: 600px;
    width: 45%;
    overflow: auto;
}

.setting_right_div
{
    display: inline-block;
    margin-top: 20px;
    margin-right: 4%;
    float: right;
    height: 600px;
    width: 45%;
    overflow: auto;
}

.setting_bottom_div
{
    margin-top: 2%;
    margin-left: 4%;
    background-color: #faf5f3;
    opacity: 0.44;
    display: inline-block;
    height: 200px;
    max-height: 50%;
    width: 92%;
    overflow: auto;
}

.title_settings_blocks
{
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
    left: auto;
    right: auto;
    margin-left: 0;
    margin-right: 0;
}

.subtitle_settings_blocks
{
    margin-left: 4%;
    font-size: 20px;
}

.content
{
    margin-left: 5%;
}

/*                   */
/*Public informations*/
/*                   */

.bio
{
    margin-top: 20px;
}

.gender_chan
{
    margin-top: 5%;
}
.orientation_chan
{
    margin-top: 5%;
}

.tags
{
    margin-top: 5%;
}

.block_user
{
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}

.block_user:hover
{
    text-decoration: underline;
}


/*                    */
/*Private informations*/
/*                    */

.email
{
    margin-top: 20px;
}

.phone
{
    margin-top: 5%;
}

.city
{
    margin-top: 5%;
}








/*                               */
/*Set location map by Google API.*/
/*                               */

.map_google
{
    position: absolute;
    margin:       auto;
    top:             0;
    width:        100%;
    height:       100%;
    z-index:      1000;
}

.map_closure
{
    position: absolute;
    top:             0;
    left:            0;
    width:        40px;
    height:       40px;
    z-index:      1001;
    cursor:    pointer;
    background-size: cover;
    background-image: url("../resources/Cancel.png");
}


.map_closure_save
{
    position: absolute;
    top:             0;
    right:           0;
    width:        40px;
    height:       40px;
    z-index:      1001;
    cursor:    pointer;
    background-size: cover;
    background-image: url("../resources/check.png");
}


/*end*/
